.env
docker-compose.override.yml
stacks/home/homepage/logs
homepage/*.css
homepage/*.js
sonarr
radarr
prowlarr
lidarr
bazarr
qbittorrent
plex
homeassistant
gluetun
/letsencrypt
homebridge
portainer
logs
*.log
**/*.log
**/*.sab
**/*.sqlite3*
**/*.db
**/*.bak
